:root {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100dvh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
    overflow-x: auto;
}

body::-webkit-scrollbar {
    display: none;
}

.asideRight {
    grid-area: asideRight;
}

main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
        "product"
        "btnAdd"
        "description";
    gap: 1rem;
    padding: 1rem;
}

.product {
    grid-area: product;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto auto;
    grid-template-areas: 
        "productImage"
        "productInformation"
        "prices";
    gap: 2rem;
}


.btnAdd {
    grid-area: btnAdd;
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px 0;
    font-size: 2rem;
    margin-top: 15px;
    background-color: #007bff;  
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.productDescription {
    padding-top: 2rem;
    font-size: 1.6rem;
}

details > p {
    color: #616161;
}

.btnAdd:hover {
    background-color: #014c9c;   
}

.productImage {
    grid-area: productImage;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    aspect-ratio: 1;
}

.productInformation {
    grid-area: productInformation;
}

.productName {
    font-size: 2.5rem;
}

.category {
    font-size: 1.4rem;
    color: grey;
}

.prices {
    grid-area: prices;
}

.oldPrice {
    font-size: 2rem;
    color: grey;
    text-decoration: line-through;
}

.newPrice {
    font-size: 3.5rem;
    font-weight: bold;
}

.date {
    font-size: 1.2rem;
    width: fit-content;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: blue;
    color: white;
}

.offerEndDate{
    font-weight: bold;
}

.asideLeft {
    grid-area: asideLeft;
}

header, footer {
    background: linear-gradient(135deg, #000000, #1d1dff, #3924db);
    color: white;
}

header {
    grid-area: header;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 0.75rem 1.5rem;
    gap: 1rem;
}

header > a {
    color: white;
    text-decoration: none;
}


/* cambio del tamaño: altura*/
.tLogo {
    width: 10rem;
    height: 3.5rem;
    background-image: url("../public/images/logo_techzone.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    flex-shrink: 0;
}

.divSearch {
    position: relative;
    width: 18rem;
}

.inputSearch {
    width: 100%;
    padding: 0.5rem 2.5rem 0.5rem 0.5rem;
    border: 0.0625rem solid #ccc;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    outline: none;
}

.searchIcon {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1.5rem;
    height: 1.5rem;
    background-image: url("./images/busqueda-de-lupa.png");
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

header span {
    margin-left: 1rem;
    cursor: pointer;
    font-size: 0.875rem;
    transition: color 0.3s;
}

header span:hover, header > a:hover {
    color: black;
}

footer {
    grid-area: footer;
}

.listaFooter {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0.5rem;
    gap: 0.5rem;
}

.pCopyright {
    text-align: center;
    padding-bottom: 0.5rem;
}

@media screen and (min-width: 768px) {

    main {
        display: grid;
        grid-template-columns: 2fr 1fr; 
        grid-template-rows: repeat(3, auto); 
        grid-template-areas:
            "product product"               
            "btnAdd btnAdd"                 
            "productDescription productDescription"; 
        gap: 1rem;
        margin: 0 auto;
    }

    .product {
        display: grid;
        grid-template-columns: 2fr 1.5fr;
        grid-template-rows: repeat(2, auto);  
        grid-template-areas:
            "productImage productInformation"
            "productImage prices";
        gap: 1rem;
        align-items: center;
    }

    .productImage {
        grid-area: productImage;
        width: 100%;
        aspect-ratio: 1;

    }

    .productInformation {
        grid-area: productInformation;
    }

    .prices {
        grid-area: prices;
    }

    .btnAdd {
        grid-area: btnAdd;
        width: 40%;    
        height: 50%;
        font-size: 1.2rem;
        justify-self: end;    
        margin: 1rem 0.5rem;       
    }

    .productDescription {
        grid-area: productDescription;
        height: auto;
    }
}

@media screen and (min-width: 1024px) {
    header {
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 0.5rem;
    }

    main {
        display: grid;
        grid-template-columns: 2fr 1fr; 
        grid-template-rows: auto; 
        gap: 3rem;
        padding: 2rem 3rem;
    }

    .product {
        grid-template-columns: 2fr 1fr; 
        grid-template-rows: repeat(3, auto);  
        grid-template-areas:
            "productImage productInformation"
            "productImage prices";
        gap: 2rem;
        align-items: start;
    }

    .productImage {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .productImage img {
        width: 100%;
        max-width: 800px;
        height: auto;
        border-radius: 10px;
    }

    .productInformation {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .productName {
        font-size: 3rem;
    }

    .category {
        font-size: 1.6rem;
    }

    .prices {
        grid-area: prices;
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
    }

    .oldPrice {
        font-size: 2.1rem;
    }

    .newPrice {
        font-size: 3rem;
    }

    .date {
        font-size: 1.5rem;
        padding: 0.7rem 1.2rem;
        border-radius: 12px;
    }

    .btnAdd {
        width: 100%;
        font-size: 1.6rem;
        justify-self: center; 
        margin-top: 1.5rem;
    }

    .productDescription {
        font-size: 1.4rem;
        margin-top: 2.5rem;
    }

}