:root {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100dvh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

.asideRight {
    grid-area: asideRight;
}

main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: 
        "product"
        "description";
    gap: 1rem;
    padding: 1rem;
    min-height: 100dvhs;
}

.product {
    grid-area: product;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 
        "productImage"
        "productInformation"
        "prices"
        "btnAdd";
    gap: 1.5rem;
}


.btnAdd {
    grid-area: btnAdd;
    display: block;
    width: 100%;
    padding: 10px 0;
    font-size: 1.8rem;
    margin-top: 0.5rem;
    background-color: #007bff;  
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.productDescription {
    grid-area: description;
    padding-top: 2rem;
    font-size: 1.6rem;
}

details > p {
    color: #616161;
    padding-left: 2.8rem;
}

.btnAdd:hover {
    background-color: #014c9c;   
}

.productImage {
    grid-area: productImage;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    align-content: center;
    aspect-ratio: 1;
}

.productInformation {
    grid-area: productInformation;
}

.productName {
    font-size: 3rem;
}

.category {
    font-size: 1.7rem;
    color: grey;
}

.prices {
    grid-area: prices;
}

.oldPrice {
    font-size: 2rem;
    color: grey;
    text-decoration: line-through;
}

.newPrice {
    font-size: 2.5rem;
    font-weight: bold;
}

.date {
    font-size: 1.4rem;
    width: fit-content;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: blue;
    color: white;
}

.offerEndDate{
    font-weight: bold;
}

.asideLeft {
    grid-area: asideLeft;
}

header, footer {
    background: linear-gradient(135deg, #000000, #1d1dff, #3924db);
    color: white;
}

header {
    grid-area: header;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 0.75rem 1.5rem;
    gap: 1rem;
}

header a {
    color: inherit;
    text-decoration: none;
    margin-left: 1rem;
    cursor: pointer;
    font-size: 0.875rem;
    transition: color 0.3s;
}

header a:hover {
    color: black;
}


.tLogo {
    width: 10rem;
    height: 3rem;
    background-image: url("../public/images/logo_techzone.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.selectCategories {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    border-radius: 0.25rem;
    border: 0.0625rem solid rgb(255, 255, 255);
    background-color: #fff;
}


.divSearchBar {
    position: relative;
    width: 18rem;
}

.inputSearchBar {
    width: 100%;
    padding: 0.5rem 2.5rem 0.5rem 0.5rem;
    border: 0.0625rem solid #ccc;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    outline: none;
}

.iconSearchBar {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1.5rem;
    height: 1.5rem;
    background-image: url("./images/busqueda-de-lupa.png");
    background-size: cover;
    background-position: center;
    cursor: pointer;
}


footer {
    grid-area: footer;
}

.listaFooter {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0.5rem;
    gap: 0.5rem;
}

.pCopyright {
    text-align: center;
    padding-bottom: 0.5rem;
}

@media screen and (min-width: 768px) {

    main {
        grid-template-columns: 2fr 1fr; 
        grid-template-rows: repeat(2, auto); 
        grid-template-areas:
            "product             product"              
            "productDescription  productDescription"; 
        gap: 0.5rem;
        margin: 0 auto;
    }

    .product {
        grid-template-columns: 2fr 1.5fr;
        grid-template-rows: repeat(3, auto);  
        grid-template-areas:
            "productImage productInformation"
            "productImage prices"
            "productImage btnAdd";
        gap: 0.5rem;
        align-items: center;
        position: relative;
    }

    .productImage {
        padding-top: 2rem;
        aspect-ratio: 1;
    }

    .productInformation {
        align-self: end;
    }

    .prices {
        align-self: center;
    }

    .oldPrice {
        font-size: 2rem;
    }

    .newPrice {
        font-size: 2.5rem;

    }

    .date {
        font-size: 1.2rem;
    }

    .btnAdd {
        width: 100%;   
        font-size: 1.5rem;
        align-self: start;
    }


    .productDescription {
        grid-area: productDescription;
    }

}



@media screen and (min-width: 1024px) {
    header {
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 0.5rem;
    }

    main {
        display: grid;
        grid-template-columns: 2fr 1fr; 
        grid-template-rows: auto; 
        gap: 1rem;
        padding: 2rem 3rem;
    }

    .product {
        grid-template-columns: 2fr 1fr; 
        grid-template-rows: repeat(3, auto);  
        grid-template-areas:
            "productImage productInformation"
            "productImage prices"
            "productImage btnAdd";
        gap: 0.25rem;
    }

    .productImage {
        display: flex;
        width: 60%;
        justify-content: center;
        justify-self: center;
    }

    /* Object-fit:contain, no se deforma la imagen */
    .productImage img {
        display: flex;
        object-fit: contain; 
        border-radius: 10px;
    }

    .productInformation {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .productName {
        font-size: 3.8rem;
    }

    .category {
        font-size: 2rem;
    }

    .prices {
        grid-area: prices;
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
    }

    .oldPrice {
        font-size: 2.1rem;
    }

    .newPrice {
        font-size: 3rem;
    }

    .date {
        font-size: 1.5rem;
        padding: 0.7rem 1.2rem;
        border-radius: 12px;
    }

    .btnAdd {
        width: 100%;
        font-size: 1.6rem;
        justify-self: center; 
        margin-top: 1.5rem;
        align-self: start;
    }

    .productDescription {
        font-size: 1.4rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 0;
    }
    
    .productDescription > summary {
        font-size: 2rem;
        margin: 0;
        padding: 0;
        display: list-item;
        cursor: pointer;
    }

    .productDescription > p {
        font-size: 1.7rem;
    }


    .divSearchBar {
        width: 100%;
        max-width: 300px;
    }

}